@import "../../variables.scss";

.note-list-container {
    display: grid;
    grid-template-rows: 75px auto;
    grid-template-columns: auto;
}

.note-list-header {
    overflow: auto;
}

.note-list {
    overflow: auto;
}

.note-list-element {
    @extend %not-selectable;
    border-bottom: 1px solid $border-color;
    height: 4rem;
    padding: $box-padding;
    padding-right: 22.5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: $box-background-highlight;
    }

    &.active {
        background-color: $box-background-highlight;
    }

    & > .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & > .excerpt {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & > .action-menu {
        position: absolute;
        right: 7.5px;
        bottom: 15px;

        .action-button {
            transform: rotate(90deg);
        }
    }
}
