.note-editor-container {
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: auto;

    & > .note-editor-title {
        overflow: auto;
    }

    & > .note-md-editor {
        overflow: auto;
        height: 100%;
        & > .CodeMirror {
            height: 100%;
        }
    }

    .no-note-selected {
        grid-row-start: 2;
        text-align: center;
        padding-top: 4rem;
    }
}
