.note-viewer-container {
    display: grid;
    grid-template-rows: 75px auto;
    grid-template-columns: auto;

    & > * {
        padding: 0 15px;
    }

    & > .note-viewer-title {
        overflow: auto;
        padding: 10px 15px;
    }

    & > .note-viewer {
        overflow: auto;
        height: 100%;
    }
}
